div.rt-td > div.text-box{
  display: block; /* For Firefox */
  border-radius: 3px;
  padding: 5px;
  text-align: justify !important;
  white-space: pre-wrap !important;
}

div.rt-td > div[contenteditable=false]{
  border: "initial";
}

div.rt-td > div[contenteditable=true]:empty:before{
  border: ".5px solid";
  color: grey;
  font-style: italic;
  content: attr(placeholder);
}

div.rt-td > div[contenteditable=true] {
  display: block; /* For Firefox */
  border: 1px dashed #AAA;

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: grey;
}
::-moz-placeholder { /* Firefox 19+ */
  color: grey;
}
:-ms-input-placeholder { /* IE 10+ */
  color: grey;
}
:-moz-placeholder { /* Firefox 18- */
  color: grey;
}